<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

	<h1><%=pets.Name%></h1>

	<form action="/pets/<%=index%>/edit?_method=PUT" method="POST">
	
	Name <input	type="text" name="Name" value="<%=pets.Name%>">	
	Species <input	type="text" name="Species" value="<%=pets.Species%>">	
	Color <input	type="text" name="Color" value="<%=pets.Color%>">	
	Age <input	type="number" name="Age" value="<%=pets.Age%>">	
	Picture <input	type="text" name="Picture" value="<%=pets.Image%>">	
	<button type="submit">Update</button>
	</form>

</body>
</html>