<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

	<h1>Meet the pets</h1>

	<% pets.forEach(function(buddy, i){ %>
		<ul> <%=buddy.Name%> 
			<ul><img src="<%=buddy.Image%>"></ul>
			<li><%=buddy.Species%></li>
			<li><%=buddy.Color%></li>
			<li><%=buddy.Age%> years old</li>
		</ul>
		<form action ="/pets/<%=i%>?_method=DELETE" method="POST">
			<button type="submit">Release</button>
			<a href="/pets/<%=i%>/edit">Update</a>
		</form>
	<% }) %>

	<a href="/pets/new">New Puppo</a>

</body>
</html>